<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <!-- 配置数据库连接信息 -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
                <!-- 使用一个长时间闲置的连接之前，对它ping一下，确保它还在正常工作 -->
                <property name="poolPingQuery" value="SELECT NOW()"/>
                <property name="poolPingConnectionsNotUsedFor" value="3600000"/>
                <property name="poolPingEnabled" value="true"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>

        <mapper resource="mapping/userMapping.xml"/>
    </mappers>
</configuration>